@use "../../../import" as *;

.header {
  height: $headerHeight;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #282828;
  z-index: 1;
  width: 100%;
  box-sizing: border-box; // <-- include padding in width


  .header-container {
    height: 5rem;
    justify-content: center;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto 1fr auto;
    /* left / center / right */
    align-items: center;
    padding: 0 1rem;
    max-width: 100%;
    /* prevent accidental overflow */

    .rules-button {
      display: flex;
      align-items: center;
      justify-self: start;
      justify-content: center;
      align-items: center;

      .rules-image {
        max-height: 3rem;
        height: auto;
        margin-right: 0.5rem;
      }
    }

    .title-container {
      position: absolute;
      left: 50%;

      display: flex;
      justify-content: center;
      /* center content inside middle cell */
      text-align: center;
      pointer-events: none;

      .title {
        pointer-events: auto;
      }
    }

    .profil-container{
      display: flex;
      justify-content: right;
      align-items: center;
      .profil-image{
        display: grid;
        grid-template-columns: 1fr;
        place-items: center;
        img {
            grid-column-start: 1;
            grid-column-end: 1;
            grid-row-start: 1;
            grid-row-end: 1 ;
          }
          .avatar{
            z-index: 2;
            height: 40px;
            width: 40px;

          }
      }
      .logout-image{
        height: 53px;
          width: 53px;
        
      }
      
    }

  }


}

.rules-container {
  position: absolute;
  top: var(--header-height, $headerHeight);
  /* espace égal à la hauteur du header */
  bottom: var(--footer-height, $footerHeight);
  /* espace égal à la hauteur du footer */
  left: 0;
  right: 0;
  display: flex;
  z-index: 1001;
  background-color: rgb(155, 89, 89);

  overflow: auto;
  height: calc(100vh - $headerHeight - $footerHeight);

}
.profil-page-container {
  position: absolute;
  top: var(--header-height, $headerHeight);
  /* espace égal à la hauteur du header */
  bottom: var(--footer-height, $footerHeight);
  /* espace égal à la hauteur du footer */
  left: 0;
  right: 0;
  display: flex;
  z-index: 1001;
  background-color: rgb(155, 89, 89);

  overflow: auto;
  height: calc(100vh - $headerHeight - $footerHeight);

}