<header class="header">
  <div class="header-container">
    <button class="rules-button"  (click)="toggleIsRules()">
      <img class="rules-image" src="assets/pictures/logo-regles-du-jeu.png" alt="rules">rules
    </button>
    <div class="title-container">
      <h1 class="title">Flip 7</h1>
    </div>
    <div class="profil-container">
      <img class="profil" src="assets/pictures/Connexion.png" alt="profil">
    </div>
  </div>
</header>

@if(isRules){
  <div class="rules-container">
     <app-rules></app-rules>
  </div>
}

 