@if(isLogin$| async){
    <div class="main-container">
    <div class="buttons-container">
        <button [routerLink]="['/room']" [queryParams]="{mode: 'create'}" class="button-home">{{ 'home.createRoom' | translate }}</button>
        <button [routerLink]="['/room']" [queryParams]="{mode: 'join'}" class="button-home">{{ 'home.joinRoom' | translate }}</button>
    <!-- Bouton statistiques supprimé, accès via le header -->
    </div>
</div>
}
@else {
<div class="main-container">
    <div class="buttons-container">
        <button routerLink="/login" class="button-home">{{ 'login.title' | translate }}</button>
        <button routerLink="/register" class="button-home">{{ 'register.title' | translate }}</button>
    </div>
</div>
}