@if(isLogin$| async){
    <div class="main-container">
    <div class="buttons-container">
        <button routerLink="/room" class="button-home">Create room</button>
        <button routerLink="/room" class="button-home">Join Room</button>
        <button routerLink="/offline" class="button-home">offline</button>

    </div>
</div>
}
@else {
<div class="main-container">
    <div class="buttons-container">
        <button routerLink="/login" class="button-home">login</button>
        <button routerLink="/register" class="button-home">register</button>
        <button routerLink="/offline" class="button-home">offline</button>

    </div>
</div>
}