<div class="register-container">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" class="register-form">
        <h1>{{ 'register.createAccount' | translate }}</h1>

        <label for="pseudo">{{ 'register.pseudo' | translate }}</label>
        <input id="pseudo" formControlName="pseudo" type="text" required [placeholder]="'register.pseudoPlaceholder' | translate">

        <label for="Mail">{{ 'register.email' | translate }}</label>
        <input id="Mail" formControlName="mailAddress" type="email" required [placeholder]="'register.email' | translate">

        <label for="password">{{ 'register.password' | translate }}</label>
        <input id="password" formControlName="password" type="password" required [placeholder]="'register.password' | translate">

        <button id="register-button" type="submit" [disabled]="registerForm.invalid">{{ 'register.registerButton' | translate }}</button>

        <a class="login-link" routerLink="/login">{{ 'register.alreadyAccount' | translate }}</a>
    </form>
</div>
