// colors / variables
$mainColor: #282828;
$textLightColor: #ffffff;
$textColor: black;



/* variables et mixins existants */
$mainTitle: "Cenobyte";
$subTitleFont: "Cinzel", sans-serif;
$contentFont: "Inika", sans-serif;
$fontBoldStyle: bold;

$footerHeight: 2.5rem;
$headerHeight: 5rem;

$borderRadius: 10px;
$borderCardBreed: 2px solid black;

$homeButtonColor: rgb(83, 85, 64);
