@use "../../../import" as *;

.footer {
  background-color: $mainColor;
  color: $textLightColor;
  font-family: $contentFont;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.5;
  width: 100%;
  left:0;
  height: $footerHeight;
  bottom: 0;
  padding: 0 1rem;
  box-sizing: border-box;
  position: fixed;

  .containerFooter {
    width: 100%;
    box-sizing: border-box;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;

    .globalInformation {
      margin-left: 0.7rem;
    }
    .credits {
      text-align: center;
    }
    .social {
      justify-self: end;
    }
    .iconDiscord {
      display: block;
      width: 4rem;
      height: auto;
    }
  }

}
